@keyframes slideInLeft {
    0% {
        /* Can change transition if from left side just do it 100% */
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

header {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: slideInLeft;
    background: #666;
    padding: 40px;
    position: sticky;
    top: 0;
}

body {
    margin: 0;
    font-family: "Segoe UI", Arial, Helvetica, Sans Serif;
}

a {
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    color: #fff;
}

.links {
    padding-left: 90px;
}


/* animating from top to bottom */
/* #on_screen_change_links {
    display: none;
    -webkit-animation: expand 1.5s;
}

@-webkit-keyframes expand {
    0% {
        height: 0px
    }

    100% {
        height: 150px
    }
} */


#open_nav_btn {
    display: none;
    float: right;
}

#open_nav_div {
    display: none;
    background-color: green;
    top: -10%;
}

#close_nav_btn {
    float: right;
}



@media screen and (max-width: 700px) {
    .links_div {
        display: none !important;
    }

    #open_nav_btn {
        display: block;
    }
}

@media screen and (min-width: 701px) {

    #open_nav_div {
        display: none !important;
    }
}




/* Animated Box(Div) */
.box {
    float: left;
    overflow: hidden;
    background: #f0e68c;
    margin-top: 20px;
}

/* Add padding and border to inner content
for better animation effect */
.box-inner {
    width: 400px;
    padding: 10px;
    border: 1px solid #a29415;
}