@keyframes slideInLeft {
    0% {
        /* Can change transition if from left side just do it 100% */
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}


header {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: slideInLeft;
    background: #666;
    padding: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

body {
    margin: 0;
    font-family: "Segoe UI", Arial, Helvetica, Sans Serif;
}

a {
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    color: #fff;
}

.links {
    padding-left: 90px;
    font-size: 17px;
    transition-property: font-size;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
}


.links:hover {
    font-size: 20px;
}



.showDiv {
    display: block !important;
    background-color: green !important;
    top: 0 !important;
    position: fixed !important;
    width: 70% !important;

    animation-duration: 0.6s !important;
    animation-timing-function: ease-in-out !important;
    animation-delay: 0s !important;
    animation-iteration-count: 1 !important;
    animation-name: slideInLeft !important;
}

@keyframes slideInRight {
    0% {
        /* Can change transition if from left side just do it 100% */
        transform: translateX(70%) !important;
    }

    100% {
        transform: translateX(-100%);
    }
}


.hideDiv {
    animation-duration: 0.6s !important;
    animation-timing-function: ease-in-out !important;
    animation-delay: 0s !important;
    animation-iteration-count: 1 !important;
    animation-name: slideInRight !important;
}

.none {
    display: none;
}



/* animating from top to bottom */
/* #on_screen_change_links {
    display: none;
    -webkit-animation: expand 1.5s;
}

@-webkit-keyframes expand {
    0% {
        height: 0px
    }

    100% {
        height: 150px
    }
} */


#open_nav_btn {
    display: none;
    float: right;
}

#open_nav_div {
    display: none;
    background-color: green;
    top: 0;
    position: fixed;
    width: 70%;
}

#close_nav_btn {
    float: right;
}



@media screen and (max-width: 700px) {
    .links_div {
        display: none !important;
    }

    #open_nav_btn {
        display: block;
    }
}

@media screen and (min-width: 701px) {

    #open_nav_div {
        display: none !important;
    }
}


.container {
    animation: transitionIn 1s;
    margin-top: 120px;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}


/* .hello {
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) !important;
    transform: translate(50px, 100px);
} */





#toggleButton {
    display: block;
    position: relative;
    margin: 50px auto;
}

.mynavIcon {
    transform: rotate(60deg) !important;
}





.hamburger__toggle {
    display: block;
    position: relative;
    background-color: #3d3d3d;
    width: 40px;
    height: 40px;
    margin: 50px auto;
    border-radius: 50%;
    border: none;
}

/* give the span element and related pseudo-elements the appearance of white lines */
.hamburger__icon,
.hamburger__icon::before,
.hamburger__icon::after {
    text-align: center;
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 4px;
    background-color: white;
}

/* center the span element in the middle of its containing button */
.hamburger__icon {
    top: calc(50% - 2px);
    left: calc(50% - 15px);
}

/* position the two pseudo-elements to the very left */
.hamburger__icon::before,
.hamburger__icon::after {
    content: "";
    left: 0;
}

/* this is the top dash of the hamburger */
.hamburger__icon::before {
    bottom: 8px;
}

/* this is the bottom dash of the hamburger */
.hamburger__icon::after {
    top: 8px;
}

/* TOGGLE STYLES FOR THE BUTTON */

/* rotate middle dash of hamburger */
.toggled .hamburger__icon {
    height: 3px;
    width: 34px;
    left: 5px;
    top: calc(50% - 2px);
    transform: rotate(-45deg);
    background-color: red;
}

/* rotate bottom dash of hamburger counter clockwise */
.toggled .hamburger__icon::after {
    width: 34px;
    height: 3px;
    top: -1px;
    transform: rotate(-270deg);
    background-color: red;
}

/* hide the top dash by scaling it to 0 */
.toggled .hamburger__icon::before {
    transform: scale(0);
}

/* TRANSITION */
/* adjust duration to see it happen slower */
.hamburger__icon,
.hamburger__icon::after {
    transition: all 0.3s linear;
}