/* For smooth animation of page */

html {
    scroll-behavior: smooth;
}

#main_div {
    /* for fade animation unresponsiveness */
    overflow-x: hidden
}



/*        When page loads, this animation works          */
.container {
    animation: transitionIn 1s;
    margin-top: 120px;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}



#links_container {
    padding-top: 100px !important;
}

.containers_links {
    color: blue;
    margin: 20px;
}


#main_div {
    /* for fade animation unresponsiveness */
    overflow-x: hidden
}

.card {
    margin: 100px 30px 50px 30px;
}

.card-img-top {
    height: 400px;
}

.card-body {
    /* display: none; */
    visibility: hidden;
    position: absolute;
    top: 70px;
    /* background-color: rgba(0, 0, 0, 0.3); */
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.6s;
}



.card:hover .card-body {
    /* display: block; */
    visibility: visible;
    transition: all 0.6s;
    opacity: 1;
}