/* For smooth animation of page */

html {
    scroll-behavior: smooth;
}



.container {
    animation: transitionIn 1s;
    margin-top: 120px;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}



#links_container {
    padding-top: 100px !important;
}

.containers_links {
    color: blue;
}