body {
    margin: 10px;
}

.container {
    position: absolute;
}

ul.thumb {
    margin: 0 auto;
    padding: 0;
    float: left;
}

ul.thumb li {
    list-style: none;
    margin: 5px;
    width: 150px;
    height: 150px;
    border: 1px solid grey;
    overflow: hidden;
}

ul.thumb li img {
    width: 100%;
}

.imgBox {
    float: left;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin-top: 60px;
    overflow: hidden;
}

.imgBox img {
    width: 100%;
    height: 500px;
    transition: transform .2s;
}

.imgBox img:hover {
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.5);
}